* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(10deg, #5DBBB3, transparent)
}

.grid-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

.player-screen {
  flex-direction: column;
  align-items: center;
  display: flex;

}

.game-over {
  display: none;
  flex-direction: column;
  align-items: center;
}

.game-over-gif {
  width: 500px;
}

h1 {
  font-family: 'Spicy Rice';
  font-size: 80px;
  color: #527C97;
}

h2 {
  display:flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:#3D76AD;
}

.how-to-play {
  font-family: 'Arial', sans-serif;
  line-height: 2.5;
  padding: 10px;
  margin: 20px;
  background: lightblue;
  width: 650px;
  border-radius: 16px;
  color: #3D76AD;
  border-style:solid;
}


.btn {
  margin: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 16px;
  font-size: 16px;
  border: none;
  color: white;
  background: #39809C;
  font-weight: bold;
  width: 200px;
}

.btn:hover{
 background-color:#2b6278 ;
}

.btn:active {
  transform: scale(0.90);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.grid {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 800px;
  width: 800px;
  display: none;
  
}


.you-win-screen {
  display: none;
  flex-direction: column;
  align-items: center;
  background: #7CD8D6 ;
}

.cell {
  /* border: 1px solid lightgrey; */
  display: inline-block;
  position:relative;
}

.cell.character::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background: url('../images/skiingpenguin.png') no-repeat center center;
  background-size: 100px;
  z-index: 1;
}

.character {
background-repeat: no-repeat;
background-size: contain;
background-color: transparent;
}

.cell.obstacle-0::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background: url('../images/obstacle-0.gif') no-repeat center center;
  background-size: 90px;
  z-index: 1;
}


.cell.obstacle-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background: url('../images/obstacle-1.gif') no-repeat center center;
  background-size: 100px;
  z-index: 1;
}

.cell.obstacle-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background: url('../images/obstacle-2.png') no-repeat center center;
  background-size: 100px;
  z-index: 1;
}


.cell.obstacle-3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background: url('../images/obstacle-3.jpg') no-repeat center center;
  background-size: 100px;
  z-index: 1;
}

.obstacle-0 {
  background-repeat: no-repeat;
  background-size: contain;
}

.obstacle-1 {
  background-image: url('../images/obstacle-1.gif');
   background-repeat: no-repeat;
   background-size: contain;
 }

 .obstacle-2 {
  background-image: url('../images/obstacle-2.png');
   background-repeat: no-repeat;
   background-size: contain;
 }

 .obstacle-3 {
  background-image: url('../images/obstacle-3.jpg');
   background-repeat: no-repeat;
   background-size: contain;
 }