* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.grid-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-screen {
  flex-direction: column;
  align-items: center;
  display: flex;

}

.game-over {
  display: none;
  flex-direction: column;
}

.game-over-gif {
  width: 500px;
}

h2 {
  display:flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  font-family: 'Arial', sans-serif;
  line-height: 2.5;
  height:160px;
  padding: 10px;
  margin: 20px;
  background: lightblue;
}

.start-button {
 border: none;
 border-radius: 16px;
 margin: 3rem;
 padding: 1.5rem 3rem;
 color: blue;
 font-size: 16px;

}

.restart-button {
  margin: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 16px;
  font-size: 16px;
  border: none;
  color: white;
  background: #9EDDE5;
  font-weight: bold;
}

.grid {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 800px;
  width: 800px;
  display: none;

}

.cell {
  border: 1px solid lightgrey;
  display: inline-block;
}

.character {
background-image: url('../images/skiingpenguin.jpg');
background-repeat: no-repeat;
background-size: contain;
}

.obstacle-0 {
 background-image: url('../images/obstacle-0.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.obstacle-1 {
  background-image: url('../images/obstacle-1.gif');
   background-repeat: no-repeat;
   background-size: contain;
 }